.section-about{
    background-color:$light-grey;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}
.section-features{
    padding: 20rem 0;
    margin-top: -10rem;
    background-image: linear-gradient(to right bottom,rgba($light-green, 0.808),rgba($dark-green, 0.842)),url(../../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);

    &>*{
        transform: skewY(7deg);
        -webkit-transform: skewY(7deg);
        -moz-transform: skewY(7deg);
        -ms-transform: skewY(7deg);
        -o-transform: skewY(7deg);

        @include respond(tab-port) {
            padding: 10rem 0;
        }
}
}

.section-tours{
    background-color:$light-grey;
    padding: 25rem 0 50rem 0;
    margin-top: -10rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}
.section-stories{
    
    padding: 15rem 0;
    position: relative;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}
.section-book{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,$green,$dark-green);

    @include respond(tab-port) {
        padding: 10rem 0;
    }
    
}
.book{
    background-image: linear-gradient(105deg,rgba($color:white,$alpha:0.9) 0%,rgba($color:white,$alpha:0.9) 50%,rgba(255,255,255,0.1)50%),url(../../img/nat-10.jpg);
    background-size: cover;
    height: 50rem;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.2);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;

    @include respond(tab-land) {
        background-image: linear-gradient(105deg, 
        rgba(white, .9) 0%,
        rgba(white, .9) 65%,
        transparent 65%) ,
url(../img/nat-10.jpg);
        background-size: cover;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right, 
        rgba(white, .9) 0%,
        rgba(white, .9) 100%),
url(../img/nat-10.jpg);
    }

    &-form{
        width:50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }   
    
}

